html {
margin: 0;
padding: 0;
}

body {
margin: 0;
padding: 0;
color: #000;
background:#d2ddea;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100.01%;
}

h1 {
font-size: 1.5em;
font-weight: bold;
}

h2 {
margin-top: 0;
font-size: 1.3em;
font-weight: bold;
}

p { margin-top: 0; }
img { border: 0; }
form { display: inline; }
.inline-form { display: inline; }

.normal {
font-size: 1em;
line-height: 1.6em;
max-width: 750px;
}

/* standard links: */
a:link, a:visited {
color: #00c;
text-decoration: none;
}
a:focus, a:hover {
color: #00f;
text-decoration: underline;
}
a:active {
color: #f00;
text-decoration: none;
}

/* eye-catching links (with red triangle) */
a.textlink {
padding-left: 8px;
font-weight: bold;
background-repeat:no-repeat;
background-position: top left;
}
a.textlink:link, a.textlink:visited {
color: #00c;
text-decoration: none;
background-image:url(img/link.gif);
}
a.textlink:focus, a.textlink:hover {
color: #00f;
text-decoration: underline;
background-image:url(img/link_mo.gif);
}
a.textlink:active {
color: #f00;
text-decoration: none;
background-image:url(img/link.gif);
}

/* links to different views*/
a.board-view, a.mix-view, a.thread-view, a.order-postings, a.update-postings {
padding: 0 5px 0 12px;
background-repeat: no-repeat;
background-position: left center;
}
a.board-view:link, a.board-view:visited {
background-image:url(img/board.gif);
}
a.board-view:focus, a.board-view:hover {
background-image:url(img/board_r.gif);
}
a.mix-view:link, a.mix-view:visited {
background-image:url(img/mix.gif);
}
a.mix-view:focus, a.mix-view:hover {
background-image:url(img/mix_r.gif);
}
a.thread-view:link, a.thread-view:visited {
background-image:url(img/thread.gif);
}
a.thread-view:focus, a.thread-view:hover {
background-image:url(img/thread_r.gif);
}
a.order-postings:link, a.order-postings:visited {
background-image:url(img/order.gif);
}
a.order-postings:focus, a.order-postings:hover {
background-image:url(img/order_r.gif);
}
a.update-postings:link, a.update-postings:visited {
background-image:url(img/update.gif);
}
a.update-postings:focus, a.update-postings:hover {
background-image:url(img/update_mo.gif);
}

/* template: */
#top {
margin:0;
height: 70px;
background-color:#ecf2f8;
background-image:url(img/bg_top.gif);
background-repeat: repeat-x;
}

#top div.left {
margin:0;
padding: 6px 0 5px 20px;
float: left;
}

#top div.left .home {
margin:0 0 3px 0;
padding:0;
font-size: 0.86em;
}

#top div.left .index {
margin:0;
padding:0;
font-size: 0.86em;
}

#top div.right {
margin:0;
padding: 6px 20px 5px 0;
text-align: right;
}

p.usermenu {
margin:0 0 13px 0;
font-size: 0.86em;
}

#top h1 {
margin:0 0 3px 0;
}

.search {
display: inline;
}

input.searchfield {
width: 130px;
}

#topnav, #bottomnav {
clear:both;
position:relative;
margin: 0;
padding: 0;
height:30px;
color:#000;
background:#f9f9f9;
font-size: 13px;
border-top: 1px solid #bacbdf;
border-bottom: 1px solid #bacbdf;
}

#topnav div.left, #bottomnav div.left {
position:absolute;
left:0;
top:5px;
margin: 0;
padding: 0 0 0 20px;
line-height:160%;
}
#topnav div.right, #bottomnav div.right {
margin: 5px 0;
padding: 0 20px 0 0;
text-align: right;
line-height:160%;
}

#content {
padding: 2em;
font-size: 1em;
background:#fff;
}

#bottom {
height:4em;
font-size: 0.86em;
line-height:1.5em;
margin: 0;
padding: 0;
color: #000;
background:#d2ddea;
background-image:url(img/bg_bottom.gif);
background-repeat: repeat-x;
}

#bottom div.left {
margin: 0;
padding: 7px 0 7px 20px;
float: left;
}

#bottom div.right {
margin: 0;
padding: 7px 20px 10px 0;
text-align: right;
}

/* Content */
.postingheadline {
margin: 0 0 2px 0;
padding: 0;
font-size: 1.2em;
font-weight: bold;
}

.posting {
margin: 0;
padding: 0;
font-family: monospace;
font-size: 1em;
line-height: 1.6em;
max-width: 750px;
}

.author {
margin-top: 1px;
font-size: 1em;
line-height: 1.6em;
font-style: italic;
}

.postingbottom {
clear:both;
margin:25px 0 0 0;
padding: 0;
}

.postinganswer { float: left; }
.postingedit { text-align: right; }

h2.postingform { margin: 0; }
p.postingforma { margin: 3px 0 0 0; }

/* Lists */
#searchresults {
margin: 15px 0;
padding: 0;
list-style-type: none;
}
#searchresults li {
margin: 10px 0;
padding: 0;
}

.linklist {
margin: 15px 0;
padding: 0;
list-style-type: none;
}
.linklist li {
margin: 5px 0;
padding: 0;
}

ul.menu {
list-style-type: none;
font-size: 0.86em;
margin: 15px 0 0 0;
padding: 0;
}
.menu li {
margin:0;
padding:0;
}
.menu li a {
background-repeat:no-repeat;
background-position: center left;
padding: 0 0 0 16px;
}
.menu a.edit-posting:link, .menu a.edit-posting:visited {
color: #00c;
text-decoration: none;
background-image:url(img/edit.png);
}
.menu a.edit-posting:focus, .menu a.edit-posting:hover {
color: #00f;
text-decoration: underline;
background-image:url(img/edit_mo.png);
}
.menu a.delete-posting:link, .menu a.delete-posting:visited {
color: #00c;
text-decoration: none;
background-image:url(img/delete.png);
}
.menu a.delete-posting:focus, .menu a.delete-posting:hover {
color: #00f;
text-decoration: underline;
background-image:url(img/delete_mo.png);
}
.menu a.lock-posting:link, .menu a.lock-posting:visited {
color: #00c;
text-decoration: none;
background-image:url(img/lock.png);
}
.menu a.lock-posting:focus, .menu a.lock-posting:hover {
color: #00f;
text-decoration: underline;
background-image:url(img/lock_mo.png);
}
.postingedit .menu li {
display: inline;
padding: 0 5px 0 0;
}

.actthread {
padding-left: 18px;
color: #f00;
font-weight: bold;
background-image:url(img/topic.gif);
background-repeat:no-repeat;
background-position: top left;
}
.actreply {
padding-left: 16px;
color: #f00;
font-weight: bold;
background-image:url(img/reply.gif);
background-repeat:no-repeat;
background-position: top left;
}

.thread { font-size: 1em; }
.thrbeg {
font-size: 1em;
font-weight: bold;
}
.aktuell {
font-size: 1em;
color: red;
font-weight: bold;
}
.small { font-size: 0.86em; }
.xsmall {
font-size: 0.86em;
color: #808080;
font-weight: normal;
}
.caution {
color: red;
font-weight: bold;
}
.entryline {
margin: 15px 0;
border-top: 1px dotted #808080;
border-left: 0;
border-right: 0;
border-bottom: 0;
height: 1px;
}
.marked-threads {
margin:1em 0 0 0;
padding:0;
}
.marked-threads h2 {
display: inline;
font-size: 0.86em;
}
.marked-threads ul {
display: inline;
padding: 0;
}
.marked-threads li {
display: inline;
padding: 0 0 0 6px;
font-size: 0.86em;
}

.admin-highlight { color: #b00; }
.mod-highlight { color: #0a4; }
.user-highlight { color: #04a; }
.username { color: #000; }

.admin-highlight,.mod-highlight,.user-highlight { cursor: help; }
.admin-highlight,.mod-highlight,.user-highlight,.username {
font-weight: bold;
font-style: normal;
}

/* quoted text: */
.citation {
color: #6d6d6d;
font-style: italic;
}

/* signatures: */
.signature {
margin: 10px 0 0 0;
padding:0;
font-size: 0.86em;
line-height: 1.5em;
color: #808080;
font-weight: normal;
max-width: 750px;
}

.userdata {
margin: 0;
padding: 0;
font-size: 1em;
line-height: 1.6em;
}
.online {
font-size: 0.86em;
color: red;
}
pre {
background: #fff;
overflow:auto;
}
code {
font-family: monospace;
font-size: 1em;
color: #000080;
}

/* categories: */
.category {
color: #000080;
font-size: 0.86em;
font-weight: normal;
}
.category-regusers {
color: #000080;
font-size: 0.86em;
font-weight: normal;
background:#e7e7e7;
}
.category-adminmod {
color: #000080;
font-size: 0.86em;
font-weight: normal;
background:#d5d5d5;
}
.category-b {
color: #00c;
font-size: 0.86em;
font-weight: normal;
}
.category-regusers-b {
color: #00c;
font-size: 0.86em;
font-weight: normal;
border-bottom: 1px dotted #00c;
}
.category-adminmod-b {
color: #00c;
font-size: 0.86em;
font-weight: normal;
border-bottom: 1px solid #00c;
}

table.board-entry {
border: 3px double #bacbdf;
border-collapse: collapse;
margin: 0 auto;
}
table.mix-entry {
margin-top:-1px;
border: 1px solid #bacbdf;
}
td.autorcell {
width: 10em;
padding: 5px 7px 5px 7px;
color: #000;
background:#d2ddea;
background-image:url(img/bg_author.gif);
background-repeat: repeat-y;
background-position: right;
border-right: 1px dotted #bacbdf;
border-bottom: 1px solid #bacbdf;
}
td.titlecell {
margin:0;
padding:5px 10px;
height:1.6em;
font-size: 1em;
color: #000;
background: #d2ddea;
background-image:url(img/bg_th.gif);
background-repeat: repeat-x;
background-position: bottom;
border-bottom: 1px solid #bacbdf;
}
td.titlecell .left {
margin: 0;
padding: 0;
float: left;
}
td.titlecell h2 {
margin: 0;
padding:0;
font-size: 1em;
color: #000;
font-weight: bold;
}
td.titlecell .right {
margin: 0;
padding: 0;
text-align: right;
}
td.postingcell {
margin:0;
padding:10px 10px 15px 10px;
/*width: 100%;*/
font-size: 1em;
color: #000;
background:#f9f9f9;
border-bottom: 1px solid #bacbdf;
}
.postingboard {
margin: 0;
padding: 0;
font-size: 1em;
line-height: 1.6em;
min-width: 30em;
max-width: 60em;
}
pre.postingboard {
padding:5px;
}

div.preview {
font-size: 1em;
margin: 0;
padding: 10px;
color: #000;
border: 1px dotted red;
}

table.normaltab {
width: 100%;
border: 3px double #bacbdf;
border-collapse: collapse;
}
table.normaltab .titlerow {
background:#d2ddea url(img/bg_th.gif) repeat-x; bottom;
height: 1.8em;
border-bottom: 1px solid #bacbdf;
}
table.normaltab th {
border-right: 1px solid #bacbdf;
font-size: 1em;
font-weight: bold;
text-align:left;
padding: 3px;
color: #000;
}
table.normaltab td {
border-right: 1px dotted #bacbdf;
vertical-align: top;
font-size: 1em;
font-weight: normal;
padding: 3px;
color: #000;
}
table.normaltab tr.a, table.normaltab tr.b {
border-bottom: 1px dotted #bacbdf;
height: 1.8em;
}
table.normaltab tr.a   { background: #f5f5f5; }
table.normaltab tr.b   { background: #f9f9f9; }
table.normaltab td.c   {
width:150px;
vertical-align: top;
font-size: 1em;
font-weight: normal;
color: #000;
background: #d2ddea;
background-image:url(img/bg_author.gif);
background-repeat: repeat-y;
background-position: right;
}
table.normaltab td.d {
vertical-align: top;
font-size: 1em;
font-weight: normal;
color: #000;
background: #f5f5f5;
}

/* mix view: */
div.mixdivl { }
div.mixthread {
background: #ffe8b7;
padding: 0;
}
div.mixthreadbeg {
background: #ffdf9d;
margin-bottom: 5px;
padding: 5px;
}

select.kat { font-size: 0.86em; }

input.bbcode-button {
width: 45px;
height: 20px;
font-size: 11px;
font-weight: normal;
margin: 0 0 5px 0;
background: #efefef;
}
button.smiley-button {
width: 23px;
height: 23px;
font-size: 11px;
font-weight: normal;
margin: 0 1px 1px 0;
background: #efefef;
}

/* thread links: */
a.thread {
padding-left: 18px;
font-weight: bold;
background-image:url(img/topic.gif);
background-repeat:no-repeat;
background-position: top left;
}
a.thread:link {
color: #0000cc;
text-decoration: none;
}
a.thread:visited {
color: #800080;
text-decoration: none;
}
a.thread:hover {
color: #0000ff;
text-decoration: underline;
}
a.thread:active {
color: #0000cc;
text-decoration: none;
}

/* new threads: */
a.threadnew {
padding-left: 18px;
font-weight: bold;
background-image:url(img/topic_new.gif);
background-repeat:no-repeat;
background-position: top left;
}
a.threadnew:link {
color: #00c;
text-decoration: none;
}
a.threadnew:visited {
color: #800080;
text-decoration: none;
}
a.threadnew:focus, a.threadnew:hover {
color: #00f;
text-decoration: underline;
}
a.threadnew:active {
color: #00c;
text-decoration: none;
}

/* replies: */
a.reply {
padding-left: 16px;
font-weight: normal;
background-image:url(img/reply.gif);
background-repeat:no-repeat;
background-position: top left;
}
a.reply:link {
color: #0000cc;
text-decoration: none;
}
a.reply:visited {
color: #800080;
text-decoration: none;
}
a.reply:hover {
color: #0000ff;
text-decoration: underline;
}
a.reply:active {
color: #0000cc;
text-decoration: none;
}

/* new reply */
a.replynew {
padding-left: 16px;
font-weight: normal;
background-image:url(img/reply_new.gif);
background-repeat:no-repeat;
background-position: top left;
}
a.replynew:link {
color: #0000cc;
text-decoration: none;
}
a.replynew:visited {
color: #800080;
text-decoration: none;
}
a.replynew:focus, a.replynew:hover {
color: #0000ff;
text-decoration: underline;
}
a.replynew:active {
color: #0000cc;
text-decoration: none;
}

/* replies in search results: */
a.reply-search {
padding-left: 18px;
font-weight: bold;
background-image:url(img/reply_s.gif);
background-repeat:no-repeat;
background-position: top left;
}
a.reply-search:link {
color: #00c;
text-decoration: none;
}
a.reply-search:visited {
color: #800080;
text-decoration: none;
}
a.reply-search:focus, a.reply-search:hover {
color: #00f;
text-decoration: underline;
}
a.reply-search:active {
color: #00c;
text-decoration: none;
}

/* Thread tree: */
ul.thread {
margin: 0 0 17px 0;
padding: 0;
list-style-type:none;
}
ul.reply {
margin: 0;
padding: 0 0 0 30px;
list-style-type:none;
}
ul.deep-reply {
margin: 0;
padding: 0;
list-style-type:none;
}
li {
line-height: 17px;
}
ul.thread ul ul {
border-left: 3px solid #C0C0C0;
}
ul.thread ul li:last-child>ul {
border-left:none;
}

#deletecookie {
color:#000;
background:#fff;
margin:0;
padding:10px;
}
#deletecookie h1 {
font-size:18px;
color:#000;
font-weight:bold;
}
#deletecookie p {
font-size:13px;
margin-top: 0;
}

img.captcha {
margin:0;
padding:0;
border:1px solid #000;
}