
  <section id="login">
   <h2>{$shd-login}</h2>
   <form action="login.php" method="post" accept-charset="UTF-8">
    <div>
     <label for="id-username">{$label-username}</label>
     <input type="text" name="username" id="id-username">
    </div>
    <div>
     <label for="id-userpw">{$label-password}</label>
     <input type="password" name="userpw" id="id-userpw">
    </div>
{$autologin-block}
    <button>{$btn-submit-login}</button>
   </form>
   <p>{$login-advice}</p>
   <p><a href="{$url-password-forgotten}">{$link-password-forgotten}</a></p>
  </section>
