
  <section id="login">
   <h2>{$shd-password-forgotten}</h2>
   <p class="normal">{$password-forgotten-explanation}</p>
   <form action="login.php" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="pw_forgotten_ok">
    <div>
     <label for="id-username">{$label-username}</label>
     <input type="text" name="pwf_username" id="id-username">
    </div>
    <div>
     <label for="id-pwf-email">{$label-e-mail}</label>
     <input type="text" name="pwf_email" id="id-pwf-email">
    </div>
    <button>{$btn-submit-pw-forgotten}</button>
   </form>
  </section>
