/**
 * start of the rules for the icon set
 */
@font-face {
    font-family: 'icomoon';
    src:    url('extern/icomoon-fonts/icomoon.eot?r233qw');
    src:    url('extern/icomoon-fonts/icomoon.eot?r233qw#iefix') format('embedded-opentype'),
        url('extern/icomoon-fonts/icomoon.ttf?r233qw') format('truetype'),
        url('extern/icomoon-fonts/icomoon.woff?r233qw') format('woff'),
        url('extern/icomoon-fonts/icomoon.svg?r233qw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* original FontAwesome */
.icon-align-justify:before {
    content: "\f039";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-check-square-o:before {
    content: "\f046";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-envelope-o:before {
    content: "\f003";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-file-code-o:before {
    content: "\f1c9";
}
.icon-file-o:before {
    content: "\f016";
}
.icon-files-o:before {
    content: "\f0c5";
}
.icon-github:before {
    content: "\f09b";
}
.icon-home:before {
    content: "\f015";
}
.icon-lock2:before {
    content: "\f023";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-rss-square:before {
    content: "\f143";
}
.icon-search:before {
    content: "\f002";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-server:before {
    content: "\f233";
}
.icon-sign-in:before {
    content: "\f090";
}
.icon-sign-out:before {
    content: "\f08b";
}
.icon-sliders:before {
    content: "\f1de";
}
.icon-smile-o:before {
    content: "\f118";
}
.icon-terminal:before {
    content: "\f120";
}
.icon-thumb-tack:before {
    content: "\f08d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-unlock-alt:before {
    content: "\f13e";
}
.icon-user:before {
    content: "\f007";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-user-times:before {
    content: "\f235";
}
.icon-users:before {
    content: "\f0c0";
}

/* original Icomoon */
.icon-warning:before {
    content: "\e901";
}

/**
 * start of the page rules
 **/

html, body {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 100.01%;
	background: #fff;
}

/* main elements */
header, nav, main, footer {
	display: block;
	margin: 0 0 0.35em 0;
	margin: 0 0 0.35rem 0;
	padding: 0 0.25em;
	padding: 0 0.25rem;
}

/* elements with border-bottom to differentiate it from the following block */
header .left, header .right, nav .right, main {
	border-bottom: 1px solid #aac;
}

/* lists, that should not have list bullets */
header .right .usermenu, nav ul.left, nav .right ul, main ul, footer .right {
	list-style-type: none;
}

/* elements with the great gap */
header .left, header .right, nav .right {
	margin: 0 0 0.35em 0;
	margin: 0 0 0.35rem 0;
	padding: 0;
}

/* elements with the small gap */
header .left p, header .left h1, header .right .usermenu, nav ul.left, nav .right ul, main .marked-threads ul, footer .left, footer .right {
	margin: 0 0 0.25em 0;
	margin: 0 0 0.25rem 0;
	padding: 0;
}

main ul {
	margin: 0 0 0.5em 0;
	margin: 0 0 0.5rem 0;
	padding: 0;
}

/* list items of linklists */
.usermenu li, nav ul.left li, nav .right li, .marked-threads li, footer .right li {
	display: inline;
	margin: 0;
	padding: 0 0.25em 0 0;
	padding: 0 0.25rem 0 0;
}

header h1 {
	font-size: 1.4em;
	font-size: 1.4rem;
}

header form[action='search.php'] {
	margin: 0.35em 0;
	margin: 0.35rem 0;
	padding: 0;
}

nav form {
	margin: 0 0 0.25em 0;
	padding: 0;
}

main ul li > ul {
	margin: 0;
	padding-left: 1em;
	padding-left: 1rem;
}

.marked-threads {
	margin: 1em 0 0.35em 0;
	margin: 1rem 0 0.35rem 0;
}

.marked-threads h2 {
	font-size: 1em;
	margin: 0 0 0.25em 0;
	padding: 0;
}

@media screen and (max-width: 38em) {
	.normaltab {
		width: 100%;
		margin: 0;
	}
	.normaltab tr, .normaltab td {
 		display: block;
	}
	.normaltab thead {
		display: none;
	}
	.normaltab tr {
		border: 1px solid #bacbdf;
		margin-bottom: 0.25em;
		margin-bottom: 0.25rem;
	}
	.normaltab td {
		margin: 0;
		padding: 0 0.25em;
		padding: 0 0.25rem;
	}
}
