<ul class="linklist admin-main-menu">
 <li><a class="buttonize" href="admin.php?action=settings"><span class="fa fa-sliders fa-fw icon-sliders"></span>&nbsp;{Settings}</a></li>
 <li><a class="buttonize" href="admin.php?action=debug"><span class="fa fa-terminal fa-fw icon-terminal"></span>&nbsp;{DebugModes}</a></li>
 <li><a class="buttonize" href="admin.php?action=categories"><span class="fa fa-align-justify fa-fw icon-align-justify"></span>&nbsp;{Categories}</a></li>
 <li><a class="buttonize" href="admin.php?action=user"><span class="fa fa-users fa-fw icon-users"></span>&nbsp;{UserList}</a></li>
 <li><a class="buttonize" href="admin.php?action=smilies"><span class="fa fa-smile-o fa-fw icon-smile-o"></span>&nbsp;{Smilies}</a></li>
 <li><a class="buttonize" href="admin.php?action=banlists"><span class="fa fa-times fa-fw icon-times"></span>&nbsp;{BanList}</a></li>
 <li><a class="buttonize" href="admin.php?action=empty"><span class="fa fa-file-o fa-fw icon-file-o"></span>&nbsp;{EmptyForum}</a></li>
 <li><a class="buttonize" href="admin.php?action=backup"><span class="fa fa-files-o fa-fw icon-files-o"></span>&nbsp;{Backup}</a></li>
 <li><a class="buttonize" href="admin.php?action=uninstall"><span class="fa fa-trash-o fa-fw icon-trash-o"></span>&nbsp;{Uninstall}</a></li>
</ul>
