<ul class="linklist admin-main-menu">
 <li><a class="buttonize" href="admin.php?action=settings"><span class="fa fa-sliders"></span>&nbsp;{Settings}</a></li>
 <li><a class="buttonize" href="admin.php?action=debug"><span class="fa fa-terminal"></span>&nbsp;{DebugModes}</a></li>
 <li><a class="buttonize" href="admin.php?action=categories"><span class="fa fa-align-justify"></span>&nbsp;{Categories}</a></li>
 <li><a class="buttonize" href="admin.php?action=user"><span class="fa fa-users"></span>&nbsp;{UserList}</a></li>
 <li><a class="buttonize" href="admin.php?action=smilies"><span class="fa fa-smile-o"></span>&nbsp;{Smilies}</a></li>
 <li><a class="buttonize" href="admin.php?action=banlists"><span class="fa fa-times"></span>&nbsp;{BanList}</a></li>
 <li><a class="buttonize" href="admin.php?action=empty"><span class="fa fa-file-o"></span>&nbsp;{EmptyForum}</a></li>
 <li><a class="buttonize" href="admin.php?action=backup"><span class="fa fa-files-o"></span>&nbsp;{Backup}</a></li>
 <li><a class="buttonize" href="admin.php?action=uninstall"><span class="fa fa-trash-o"></span>&nbsp;{Uninstall}</a></li>
</ul>