<h2>{H-BR}</h2>
<h3>{Backup}</h3>
<ul class="linklist">
 <li><a class="textlink" href="admin.php?backup=1">{BU-Complete}</a></li>
 <li><a class="textlink" href="admin.php?backup=2">{BU-Forum}</a></li>
 <li><a class="textlink" href="admin.php?backup=3">{BU-Marked}</a></li>
 <li><a class="textlink" href="admin.php?backup=4">{BU-Userdata}</a></li>
 <li><a class="textlink" href="admin.php?backup=5">{BU-Categories}</a></li>
 <li><a class="textlink" href="admin.php?backup=6">{BU-Settings}</a></li>
 <li><a class="textlink" href="admin.php?backup=7">{BU-Smilies}</a></li>
 <li><a class="textlink" href="admin.php?backup=8">{BU-Banlists}</a></li>
</ul>
<h3>{Restore}</h3>
<ul class="linklist">
 <li><a class="textlink" href="admin.php?action=import_sql">{Import}</a></li>
</ul>