<ul class="linklist">
 <li><a class="textlink" href="admin.php?action=settings">{Settings}</a></li>
 <li><a class="textlink" href="admin.php?action=debug">{DebugModes}</a></li>
 <li><a class="textlink" href="admin.php?action=categories">{Categories}</a></li>
 <li><a class="textlink" href="admin.php?action=user">{UserList}</a></li>
 <li><a class="textlink" href="admin.php?action=smilies">{Smilies}</a></li>
 <li><a class="textlink" href="admin.php?action=banlists">{BanList}</a></li>
 <li><a class="textlink" href="admin.php?action=empty">{EmptyForum}</a></li>
 <li><a class="textlink" href="admin.php?action=backup">{Backup}</a></li>
 <li><a class="textlink" href="admin.php?action=uninstall">{Uninstall}</a></li>
</ul>