*, ::after, ::before {
	box-sizing: border-box;
}
html {
	min-height: 100%;
	width: 100%;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
}
body {
	color: #000;
	background: #d2ddea;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 18px;
	font-weight: bold;
}
h2 {
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}
p {
	margin-top: 0;
}
img {
	border: none;
}
form {
	display: inline;
}
.normal {
	line-height: 19px;
	max-width: 750px;
}

/* standard links: */
a:link, a:visited {
	color: #00c;
	text-decoration: none;
}
a:focus, a:hover {
	color: #00f;
	text-decoration: underline;
}
a:active {
	color: #f00;
	text-decoration: none;
}

/* eye-catching links (with red triangle) */
a.textlink {
	padding-left: 8px;
	text-decoration: none;
	font-weight: bold;
	background-image: url(img/link.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.textlink:link, a.textlink:visited {
	color: #00c;
}
a.textlink:focus, a.textlink:hover {
	color: #00f;
	text-decoration: underline;
	background-image: url(img/link_mo.gif);
}
a.textlink:active {
	color: #f00;
}

/* template: */
#top {
	margin: 0;
	background-color: #d2ddea;
	background-image: url(img/bg_top.gif);
	background-repeat: repeat-x;
}
#top div.left {
	margin: 0;
	padding: 6px 0 5px 20px;
	float: left;
}
#top div.left .home {
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 11px;
}
#top div.left .index {
	margin: 0;
	padding: 0;
}
#top div.right {
	margin: 0;
	padding: 6px 20px 5px 0;
	text-align: right;
}
p.usermenu {
	margin: 0 0 13px 0;
	font-size: 11px;
}
#top h1 {
	margin: 0 0 3px 0;
}

.search {
	display: inline;
	font-size: 11px;
}
input.searchfield {
	font-size: 11px;
	width: 130px;
}

#topnav {
	clear: both;
}

#content {
	padding: 20px;
	background: #fff;
}

#topnav, #bottomnav {
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	border-top: 1px solid #bacbdf;
	border-bottom: 1px solid #bacbdf;
}
#topnav div.left, #bottomnav div.left {
	margin: 0;
	padding: 7px 0 0 20px;
	float: left;
}
#topnav div.right, #bottomnav div.right {
	margin: 0;
	padding: 6px 20px 0 0;
	text-align: right;
}

#bottom {
	height: 45px;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	background: #d2ddea;
	background-image: url(img/bg_bottom.gif);
	background-repeat: repeat-x;
}
#bottom div.left {
	margin: 0;
	padding: 7px 0 7px 20px;
	float: left;
}
#bottom div.right {
	margin: 0;
	padding: 7px 20px 10px 0;
	text-align: right;
}

#login {
	width: 480px;
	padding: 10px;
	border: 1px solid #bacbdf;
}
#login form {
	display: block;
	margin: 0 0 10px 0;
}
#login form div {
	margin: 0 0 10px 0;
}
#login label {
	display: block;
	font-weight: bold;
}
#login .oneliner label {
	display: inline;
	font-weight: normal;
}
section {
	margin: 0 0 20px 0;
}

.postingheadline {
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
}
.posting {
	margin: 0;
	padding: 0;
	line-height: 19px;
	max-width: 750px;
}
.author {
	margin-top: 1px;
	line-height: 19px;
	font-style: italic;
}
.postingbottom {
	clear: both;
	margin: 25px 0 0 0;
	padding: 0;
}
.postinganswer {
	float: left;
}
.postingedit {
	text-align: right;
}

h2.postingform {
	margin: 0;
}
p.postingforma {
	margin: 3px 0 0 0;
}

#searchresults {
	margin: 15px 0;
	padding: 0;
	list-style: none;
}

.actthread {
	padding-left: 18px;
	color: #f00;
	font-weight: bold;
	background-image: url(img/topic.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
.actreply {
	padding-left: 16px;
	color: #f00;
	font-weight: bold;
	background-image: url(img/reply.gif);
	background-repeat: no-repeat;
	background-position: top left;
}

.thrbeg {
	font-weight: bold;
}
.aktuell {
	color: red;
	font-weight: bold;
}
.small {
	font-size: 11px;
}
.xsmall {
	font-size: 11px;
	color: #808080;
	font-weight: normal;
}
.caution {
	color: red;
	font-weight: bold;
}
.entryline {
	margin: 15px 0 15px 0;
	border: none;
	border-top: 1px dotted #808080;
	height: 1px;
}
.marked-threads {
	margin: 30px 0 0 0;
	font-size: 11px;
}
.marked-threads-board {
	margin: 10px 1px 0 1px;
	font-size: 11px;
}

.admin-highlight {
	color: red;
}
.mod-highlight {
	color: red;
}

/* quoted text: */
.citation {
	color: #6f6f6f;
	font-style: italic;
}

/* signatures: */
.signature {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 11px;
	line-height: 16px;
	color: #808080;
	font-weight: normal;
	max-width: 750px;
}

.userdata {
	margin: 0;
	padding: 0;
	line-height: 19px;
}
.online {
	font-size: 11px;
	color: red;
}
code {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	color: #000080;
}

/* categories: */
.category {
	color: #000080;
	font-size: 11px;
	font-weight: normal;
}
.category-regusers {
	color: #000080;
	font-size: 11px;
	font-weight: normal;
	background: #e7e7e7;
}
.category-adminmod {
	color: #000080;
	font-size: 11px;
	font-weight: normal;
	background: #d5d5d5;
}
.category-b {
	color: #00c;
	font-size: 11px;
	font-weight: normal;
}
.category-regusers-b {
	color: #00c;
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px dotted #00c;
}
.category-adminmod-b {
	color: #00c;
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px solid #00c;
}

table.board-entry {
	border: 1px solid #bacbdf;
}
table.mix-entry {
	margin-top: -1px;
	border: 1px solid #bacbdf;
}
td.autorcell {
	width: 100%;
	width: 106px;
	padding: 5px 7px 5px 7px;
	background: #d2ddea;
	background-image: url(img/bg_author.gif);
	background-repeat: repeat-y;
	background-position: right;
}
td.titlecell {
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 15px;
	background: #d2ddea;
	background-image: url(img/bg_th.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
td.titlecell .left {
	margin: 0;
	padding: 0;
	float: left;
}
td.titlecell h2 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
td.titlecell .right {
	margin: 0;
	padding: 0;
	text-align: right;
}
td.postingcell {
	margin: 0;
	padding: 10px 10px 15px 10px;
	width: 100%;
	background: #f9f9f9;
}
div.autorcellwidth {
	margin: 0;
	padding: 0;
	width: 106px;
	font-size: 1px;
	height: 1px;
}
.postingboard {
	margin: 0;
	padding: 0;
	line-height: 19px;
	max-width: 750px;
}

div.preview {
	margin: 0;
	padding: 10px;
	border: 1px dotted red;
}

table.normaltab {
	width: 100%;
	border: 1px solid #bacbdf;
}
table.normaltab th {
	vertical-align: top;
	font-weight: bold;
	text-align: left;
	background: #d2ddea;
	background-image: url(img/bg_th.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
table.normaltab td.a {
	vertical-align: top;
	font-weight: normal;
	background: #f5f5f5;
}
table.normaltab td.b {
	vertical-align: top;
	font-weight: normal;
	background: #f9f9f9;
}
table.normaltab td.c {
	width: 150px;
	vertical-align: top;
	font-weight: normal;
	background: #d2ddea;
	background-image: url(img/bg_author.gif);
	background-repeat: repeat-y;
	background-position: right;
}
table.normaltab td.d {
	vertical-align: top;
	font-weight: normal;
	background: #f5f5f5;
}


/* mix view: */
.threadkl {
	font-size: 11px;
}
div.mixdivl {
}
div.mixthread {
	background: #ffe8b7;
	padding: 0;
}
div.mixthreadbeg {
	background: #ffdf9d;
	margin-bottom: 5px;
	padding: 5px;
}

select.kat {
	font-size: 11px;
}

input.bbcode-button {
	width: 45px;
	height: 20px;
	font-size: 11px;
	font-weight: normal;
	margin: 0 0 5px 0;
	background: #efefef;
}
button.smiley-button {
	width: 23px;
	height: 23px;
	font-size: 11px;
	font-weight: normal;
	margin: 0 1px 1px 0;
	background: #efefef;
}

/* thread links: */
a.thread {
	padding-left: 18px;
	text-decoration: none;
	font-weight: bold;
	background-image: url(img/topic.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.thread:link {
	color: #00c;
}
a.thread:visited {
	color: #800080;
}
a.thread:focus, a.thread:hover {
	color: #00f;
	text-decoration: underline;
}
a.thread:active {
	color: #00c;
}

/* new threads: */
a.threadnew {
	padding-left: 18px;
	text-decoration: none;
	font-weight: bold;
	background-image: url(img/topic_new.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.threadnew:link {
	color: #00c;
}
a.threadnew:visited {
	color: #800080;
}
a.threadnew:focus, a.threadnew:hover {
	color: #00f;
	text-decoration: underline;
}
a.threadnew:active {
	color: #00c;
}

/* replies: */
a.reply {
	padding-left: 16px;
	text-decoration: none;
	font-weight: normal;
	background-image: url(img/reply.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.reply:link {
	color: #00c;
}
a.reply:visited {
	color: #800080;
}
a.reply:focus, a.reply:hover {
	color: #00f;
	text-decoration: underline;
}
a.reply:active {
	color: #00c;
}

a.replynew:link {
	padding-left: 16px;
	text-decoration: none;
	font-weight: normal;
	background-image: url(img/reply_new.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.replynew:link {
	color: #00c;
}
a.replynew:visited {
	color: #800080;
}
a.replynew:focus, a.replynew:hover {
	color: #00f;
	text-decoration: underline;
}
a.replynew:active {
	color: #00c;
}

/* replies in search results: */
a.reply-search {
	padding-left: 18px;
	text-decoration: none;
	font-weight: bold;
	background-image: url(img/reply_s.gif);
	background-repeat: no-repeat;
	background-position: top left;
}
a.reply-search:link {
	color: #00c;
}
a.reply-search:visited {
	color: #800080;
}
a.reply-search:focus, a.reply-search:hover {
	color: #00f;
	text-decoration: underline;
}
a.reply-search:active {
	color: #00c;
}

/* Thread tree: */
ul.thread {
	margin: 0 0 17px 0;
	padding: 0;
	list-style-type: none;
}
ul.reply {
	margin: 0;
	padding: 0 0 0 30px;
	list-style-type: none;
}
ul.deep-reply {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	line-height: 17px;
}

#deletecookie {
	background: #fff;
	margin: 0;
	padding: 10px;
}
#deletecookie h1 {
	font-size: 18px;
	font-weight: bold;
}
#deletecookie p {
	margin-top: 0;
}

img.captcha {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}
